<div class="login-page">
  <div class="tech-background"></div>

  <div class="login-form-container" [@fadeSlideIn]>
    <div class="login-form-card" [@staggerFade]>
      <div class="no-account stagger-item ">
        <span class="text-gray-500">No Account?</span><br />
        <a routerLink="/auth/signup" class="text-primary-600 font-medium hover:underline cursor-pointer mr-4">Sign up</a>
      </div>

      <h2 class="text-sm font-normal mb-1 stagger-item">Welcome to PurchaSys</h2>
      <h1 class="text-4xl font-bold mb-8 text-primary-600 stagger-item">Sign in</h1>

      <form nz-form nzLayout="vertical" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full stagger-item">
        <nz-form-item class="mb-4">
          <nz-form-label nzRequired>Enter your Email</nz-form-label>
          <nz-form-control nzErrorTip="Please enter a valid email!">
            <input nz-input type="email" formControlName="email" placeholder="Email address" class="py-3 rounded-input" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mb-2">
          <nz-form-label nzRequired>Enter your Password</nz-form-label>
          <nz-form-control nzErrorTip="Please enter your password!">
            <input nz-input type="password" formControlName="password" placeholder="Password" class="py-3 rounded-input" />
          </nz-form-control>
        </nz-form-item>

        <div class="flex justify-end mb-6">
          <a routerLink="/auth/forgot-password" class="text-xs text-primary hover:underline">Forgot Password?</a>
        </div>

        <button nz-button nzType="primary" [nzLoading]="loading" class="w-full h-12 rounded-input gradient-btn">
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>
